Redirect 301 /license https://www.nymea.io/documentation/overview/license
Redirect 301 /license/faq https://nymea.io/documentation/overview/faq#license

RewriteEngine On

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*.html$ %{REQUEST_FILENAME}.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . __app.html

<Files "*.js">
    ForceType text/javascript
</Files>
