/* your custom css */
/* .fixedHeaderContainer {
  background: #f8f8f8;
  border-bottom: 1px solid #efefef;
  color: #676767;
}

.fixedHeaderContainer a {
  color: inherit;
}

.navigationSlider .slidingNav ul {
  color: inherit;
}

.navigationSlider .slidingNav ul li a {
  color: inherit;
} */

.nav-footer .sitemap h5 > a {
  margin: 0;
}

.nav-footer .sitemap a {
  border-radius: 3px;
  display: inline;
  padding: 3px 6px;
}

.nav-footer .sitemap a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* text-decoration: underline; */
}

.nav-footer .sitemap ul {
  padding-left: 0;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}