/*
 * Reset
 * https://dev.to/hankchizljaw/a-modern-css-reset-6p3
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
/* article > * + * { */
main > * + * {
  margin-top: 1.5em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
 * Styles
 */

:root {
  --white: hsl(0, 0%, 100%);

  --silver-base: hsl(0, 0%, 98%);
  --silver-transparent-base: hsla(0, 0%, 98%, 0.9);
  --silver-darken-10: hsl(0, 0%, 94%);

  --grey-base: hsl(0, 0%, 40%);
  --grey-darken-10: hsl(0, 0%, 30%);
  --grey-darken-20: hsl(0, 0%, 20%);
  --grey-darken-30: hsl(0, 0%, 15%);
  --grey-darken-40: hsl(0, 0%, 10%);

  --text-color: var(--grey-darken-40);

  /* Space */
	--space-unit: 1rem;
	--space-01: calc(0.125 * var(--space-unit));
	--space-02: calc(0.25 * var(--space-unit));
	--space-03: calc(0.5 * var(--space-unit));
	--space-04: calc(0.75 * var(--space-unit));
	--space-05: calc(1 * var(--space-unit));
	--space-06: calc(1.25 * var(--space-unit));
	--space-07: calc(1.5 * var(--space-unit));
  --space-08: calc(2 * var(--space-unit));
  --space-09: calc(3 * var(--space-unit));
	--space-10: calc(6 * var(--space-unit));
}

body {
  font-family: 'Ubuntu', Roboto, -apple-system, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 6rem;
}

h2 {
  font-size: 2.25rem;
  letter-spacing: -0.025em;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.5rem;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.5rem;
  text-transform: uppercase;
}

pre {
  margin: 0 0 1.5rem;
  padding: 0.75rem 1.5rem;
}

blockquote {
  background-color: #fafafa;
  border-left: 5px solid #efefef;
  border-radius: 5px;
  margin: 1.5rem 0;
  padding: 1.5rem;
}

blockquote > p {
  margin: 0;
}


/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  font-family: "Fira Code", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 5px;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2E3440;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #636f88;
}
.token.punctuation {
  color: #81A1C1;
}
.namespace {
  opacity: .7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #81A1C1;
}
.token.number {
  color: #B48EAD;
}
.token.boolean {
  color: #81A1C1;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #A3BE8C;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #81A1C1;
}
.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #88C0D0;
}
.token.keyword {
  color: #81A1C1;
}
.token.regex,
.token.important {
  color: #EBCB8B;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
