/*
 * Reset
 * https://dev.to/hankchizljaw/a-modern-css-reset-6p3
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
/* article > * + * { */
main > * + *,
main ul > * + * {
  margin-top: 1.5em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*
 * Styles
 */

:root {
	/* Color */
	/* https://medium.com/@marcintreder/design-system-sprint-2-one-color-palette-to-rule-them-all-d0114ed1f659 */
  --silver-base: hsl(0, 0%, 98%);					/* #fafafa */
  --silver-darken-10: hsl(0, 0%, 80%);
	--silver-transparent-base: hsla(0, 0%, 98%, 0.9);					/* #fafafa */

  --gray-base: hsl(0, 0%, 40%);						/* #676767 */
  --gray-darken-10: hsl(0, 0%, 35%);			/* #595959 */
  --gray-darken-20: hsl(0, 0%, 28%);			/* #474747 */
  --gray-darken-30: hsl(0, 0%, 20%);			/* #333333 */
	--gray-darken-40: hsl(0, 0%, 13%);			/* #202020 */
	
	/* --gray-base: hsl(0, 0%, 55%);						/* #8c8c8c */

	--green-base: hsl(127, 27%, 70%);				/* #9fc8a4 */

	/* --turquoise-base: hsl(129, 14%, 90%);		/* #e3eae4 */
	/* --turquoise-base: hsl(151, 27%, 85%);		/* #cde2d8 */
	/* --turquoise-base: hsl(168, 30%, 65%);		/* #8cc1b6 */
	/* --turquoise-base: hsl(170, 21%, 56%);		/* #79a79f */
	--turquoise-base: hsl(170, 17%, 49%);		/* #69938c */

	--body-background-color: var(--silver-base);

	/* Space */
	--space-unit: 1em;
	--space-01: calc(0.125 * var(--space-unit));
	--space-02: calc(0.25 * var(--space-unit));
	--space-03: calc(0.5 * var(--space-unit));
	--space-04: calc(0.75 * var(--space-unit));
	--space-05: calc(1 * var(--space-unit));
	--space-06: calc(1.25 * var(--space-unit));
	--space-07: calc(1.5 * var(--space-unit));
	--space-08: calc(2 * var(--space-unit));
	--space-09: calc(3.25 * var(--space-unit));
	--space-10: calc(5.25 * var(--space-unit));

  --body-border-radius: 5px;
  
  --text-color: var(--gray-darken-40);

  --menu-group-color: var(--gray-base);
}

body {
	background-color: var(--silver-base);
  color: var(--text-color);
  font-family: 'Ubuntu', Roboto, -apple-system, Helvetica Neue, sans-serif;
  margin: 0.75rem;
}

#nymea {
  /* background-color: var(--silver-base);
  border-radius: var(--body-border-radius); */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body::before,
body::after,
#nymea::before,
#nymea::after {
  content: "";
  position: fixed;
  z-index: 1;
}

body::before,
body::after {
  left: 0;
  right: 0;
}

body::before {
  background: linear-gradient(to right, rgba(159, 200, 164, 1) 0%, rgba(140, 193, 182, 1) 100%);
  height: calc(0.75rem + var(--body-border-radius));
  top: 0;
}

body::after {
  background: linear-gradient(to left, rgba(159, 200, 164, 1) 0%, rgba(140, 193, 182, 1) 100%);
  height: calc(0.75rem + var(--body-border-radius));
  bottom: 0;
}

#nymea::before,
#nymea::after {
  width: 0.75rem;
  bottom: 0;
  top: 0;
}

#nymea::before {
  background: linear-gradient(to bottom, rgba(159, 200, 164, 1) 0%, rgba(140, 193, 182, 1) 100%);
  left: 0;
}

#nymea::after {
  background: linear-gradient(to top, rgba(159, 200, 164, 1) 0%, rgba(140, 193, 182, 1) 100%);
  right: 0;
}

#shadow {
  background-color: transparent;
  border-radius: var(--body-border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 
              0 8px 16px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  position: fixed;
    bottom: 0.75rem;
    left: 0.75rem;
    right: 0.75rem;
    top: 0.75rem;
  z-index: 2;
}

#shadow::before,
#shadow::after {
  background-color: var(--silver-base);
  content: "";
  height: var(--body-border-radius);
  position: fixed;
  width: calc(100% - 1.5rem);
  z-index: 3;
}

#shadow::before {
  border-top-left-radius: var(--body-border-radius);
  border-top-right-radius: var(--body-border-radius);
  top: 0.75rem;
}

#shadow::after {
  border-bottom-left-radius: var(--body-border-radius);
  border-bottom-right-radius: var(--body-border-radius);
  bottom: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 6rem;
  /* margin-bottom: 1.5rem; */
}

h2 {
  font-size: 2.25rem;
  letter-spacing: -0.025em;
  line-height: 3rem;
  /* margin: 3rem 0 1.5rem; */
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5rem;
  /* margin: 1.5rem 0; */
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.5rem;
  /* margin-bottom: 1.5rem; */
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.5rem;
  /* margin-bottom: 1.5rem; */
}

h6 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.5rem;
  /* margin-bottom: 1.5rem; */
  text-transform: uppercase;
}
